.statistics-table button {
    display: block;
    margin: 20px auto 50px;
}

table.data_table {
    width: calc(100% + 10px);
    border-collapse: separate;
    border-spacing: 10px;
    margin: 0px -10px 0;
}

table.data_table td, table.data_table th {
    padding: 10px;
    border-radius: 7px;
    color: var(--main-text-color);
}

table.data_table th {
    background: #2e3542;
}

table.data_table td {
    background: #373f4d;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

table.data_table td:nth-of-type(1) {
    width: 110px;
}

table.data_table td:nth-of-type(2) {
    max-width: 20vw;
}

table.data_table td:nth-of-type(3) {
    max-width: 42vw;
}


table.data_table td:nth-of-type(4) {
    width: 60px;
}

table.data_table td.edit, table.data_table td.move, table.data_table td.delete {
    cursor: pointer;
    width: 0px;
    height: 0px;
    transition: .3s ease-in-out;
}

table.data_table td.edit:hover, table.data_table td.move:hover, table.data_table td.delete:hover {
    transition:.3s ease-in-out;
    transform: scale(1.1);
}

table.data_table td.edit svg, table.data_table td.delete svg {
    width: auto;
    height: 20px;
}

table.data_table td.edit svg { fill: var(--main-text-color); }
table.data_table td.delete svg { fill: var(--main-color); }

table.data_table td.move svg {
    fill: var(--main-text-color);
    width: 26px;
    height: auto;
}

#statistics {
    width: calc(100% - 20px);
    margin: 50px 0;
}

#statistics #cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-bottom: 20px;
}