#form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

#form p#error-msg {
    display: none;
    font-size: 14px;
    margin-bottom: 0;
}

.modal.enter-data .modal-content {
    max-width: 350px;
    width: 350px;
}