table.data_table {
    width: calc(100% + 10px);
    border-collapse: separate;
    border-spacing: 10px;
    margin: 0px -10px 0;
}

table.data_table td, table.data_table th {
    padding: 10px;
    border-radius: 7px;
    color: var(--main-text-color);
}

table.data_table th {
    background: #2e3542;
}

table.data_table td {
    background: #373f4d;
}

#statistics {
    width: calc(100% - 20px);
    margin: 50px 0;
}

#statistics #cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-bottom: 20px;
}

#statistics #cards .card {
    background: #373f4d;
    border-radius: 10px;
    width: 100%;
    color: var(--main-text-color);
    overflow: hidden;
    position: relative;
}

#statistics #cards .card svg {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 0;
}

#statistics #cards .card .padding {
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    z-index: 2;
    position: relative;
}

#statistics #cards .card .padding .button {
    align-content: center;
    display: grid;
}

#statistics #cards .card .padding .button a {
    color: var(--white);
    text-decoration: none;
    background: linear-gradient(90deg, var(--main-color) 0%, var(--main-color-shade) 100%) no-repeat;
    padding: 5px 25px 7px;
    border-radius: 50px;
    text-transform: lowercase;
    font-size: 13px;
    user-select: none;
    transition: .2s ease-in-out;
}

#statistics #cards .card .padding .button a:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

#statistics #cards .card svg path {
    opacity: 0.12;
}

#statistics #cards .card.food svg path {
    fill: var(--main-color);
}

#statistics #cards .card.car svg path {
    fill: var(--transportation-color);
}

#statistics #cards .card.entertainment svg path {
    fill: var(--entertainment-color);
}

#statistics #cards .card.house svg path {
    fill: var(--house-color);
}

#statistics #cards .card.clothes svg path {
    fill: var(--clothing-color);
}

#statistics #cards .card.other svg path {
    fill: var(--other-color);
}

#statistics #cards .card.car .padding .button a {
    background: linear-gradient(90deg, var(--transportation-color) 0%, var(--transportation-color-shade) 100%) no-repeat;
}

#statistics #cards .card.entertainment .padding .button a {
    background: linear-gradient(90deg, var(--entertainment-color) 0%, var(--entertainment-color-shade) 100%) no-repeat;
}

#statistics #cards .card.house .padding .button a {
    background: linear-gradient(90deg, var(--house-color) 0%, var(--house-color-shade) 100%) no-repeat;
}

#statistics #cards .card.clothes .padding .button a {
    background: linear-gradient(90deg, var(--clothing-color) 0%, var(--clothing-color-shade) 100%) no-repeat;
}

#statistics #cards .card.other .padding .button a {
    background: linear-gradient(90deg, var(--other-color) 0%, var(--other-color-shade) 100%) no-repeat;
}

#statistics #cards .card .padding .percentage-bar {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    padding: 8px;
    user-select: none;
}

#statistics #cards .card .padding .texts {
    padding: 0 15px;
    display: grid;
    align-content: center;
}

#statistics #cards .card .padding .texts p {
    margin: 0;
}

#statistics #cards .card .padding .texts p.title {
    font-weight: bold;
    font-size: 17px;
}

#statistics #cards .card .padding .percentage-bar .inside-box {
    background: #373f4d;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}