:root {
    --main-color: #ff2f39;
    --main-color-shade: #ff27b3;
    --main-text-color: #798395;
    --secondary-text-color: #343b48;
    --active-text-color: #d7259e;
    --bg-color: #1b2028;
    --bg-color-shade: #263246;
    --white: #fff;
    --gradient: linear-gradient(90deg, var(--main-color) 0%, var(--main-color-shade) 100%) no-repeat;
    /*Statistics bars colors*/
    --food-color: #ff2f39;
    --food-color-shade: #ff27b3;
    --clothing-color: #8f03ff;
    --clothing-color-shade: #ba15ff;
    --entertainment-color: #df7211;
    --entertainment-color-shade: #ffc614;
    --transportation-color: #0067ad;
    --transportation-color-shade: #3498db;
    --house-color: #18b158;
    --house-color-shade: #2ecc71;
    --other-color: #96a5af;
    --other-color-shade: #bdc3c7;
    --input-bg: #282f3b;
    --error-color: #c0392b;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--bg-color);
    background: linear-gradient(180deg, var(--bg-color) 0%, var(--bg-color-shade) 100%) no-repeat;
    min-height: 100vh;
    color: var(--main-text-color);
}

body.modal-open { overflow: hidden; }

h1, h2, h3, h4, h5, h6, p {
    color: var(--main-text-color);
}

a {
    color: var(--main-text-color);
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

a:hover {
    color: var(--active-text-color);
    transition: .3s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation-block .navbar {
    padding: 20px 0;
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr auto;
}

.navigation-block hr.nav-seperator, .modal .modal-content #modal-decoration {
    border: 0;
    height: 7px;
    background: var(--main-color);
    background: linear-gradient(90deg, var(--main-color) 0%, var(--main-color-shade) 100%) no-repeat;
    width: 50%;
    margin: 0;
}

.modal .modal-content #modal-decoration {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.navigation-block .navbar a {
    color: var(--main-text-color);
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    display: inline-block;
    padding-bottom: 5px;
    transition: .3s ease-in-out;
}

.navigation-block .navbar a:hover {
    color: var(--active-text-color);
    transition: .3s ease-in-out;
}

.navigation-block .navbar .navbar a.right-link {
    padding-right: 0;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

h2.title {
    color: var(--main-text-color);
    font-size: 29px;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 7px;
}

input {
    background: var(--input-bg);
    border: none;
    outline: none;
    border-radius: 10px;
    color: var(--main-text-color);
    padding: 15px 25px;
    border: 1px solid var(--input-bg);
}

button {
    background: linear-gradient(90deg, var(--main-color) 0%, var(--main-color-shade) 100%) no-repeat;
    border: 0;
    outline: none;
    font-size: 14px;
    padding: 12px 30px;
    border-radius: 10px;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s ease-in-out;
}

button:hover {
    transition: .3s ease-in-out;
    transform: scale(1.05);
}

::placeholder {
    color: var(--main-text-color);
}

.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
}

.modal .modal-content {
    background: var(--bg-color);
    border: 1px solid var(--bg-color-shade);
    max-width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.modal .modal-content .modal-padding {
    padding: 12px 40px 50px;
}

.modal .modal-content .close {
    text-align: right;
    margin-top: 20px;
    padding: 0 40px;
}

.modal .modal-content .close svg {
    fill: var(--main-text-color);
    height: 25px;
    cursor: pointer;
}

body.modal-open > #root > div > *:not(.modal) {
    filter: blur(5px);
    overflow: hidden;
}